@model QueryTracker.ViewModel.UserViewModel

<h2>Welcome</h2>

<div class="form-group">
	<a asp-action="CreateNewQuery" asp-controller="Query" class="btn btn-default">Add New Query</a> | <a asp-action="ViewEmployeeQueries" asp-controller="Query" class="btn btn-default">View All Queries</a>
</div>
